---
import { client } from "../../../tina/__generated__/client";

import { TinaMarkdown } from "tinacms/dist/rich-text";
import Layout from "../../components/Layout.astro";

export const getStaticPaths = async () => {
    const postsResponse = await client.queries.postConnection();
    const posts = postsResponse.data.postConnection.edges.map((post) => {
        return {
            params: {
                slug: post?.node?._sys.filename,
            },
            props: post,
        };
    });
    return posts;
};

const post = Astro.props.node;
---

<Layout title="{post?.title}">
    <h1 class="text-3xl font-bold">{post?.title}</h1>
    <span>{new Date(post?.date).toLocaleDateString()}</span>
    <article class="prose">
        <TinaMarkdown content={post?.body} />
    </article>
</Layout>
